:root {
  --bf1-color: #cfcecc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bf1font";
  cursor: url(@/assets/icon/Arrow.cur), default;
}

@font-face {
  font-family: "bf1font";
  src: url("https://eaassets-a.akamaihd.net/battlelog/battlebinary/sparta/jsclient/builds/assets/FuturaMaxiBook-TC-c3bf1e0d.ttf");
}

html,
body,
#app {
  width: 1920px;
  height: 100%;
}

button {
  padding: 7px 10px;
  color: #fff;
  background-color: transparent;
  border: 1px solid var(--bf1-color);
  transition: all 0.1s ease;
}
button:hover {
  color: #000;
  background-color: #fff;
}

input[type="text"] {
  padding: 7px 10px;
  width: 120px;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid var(--bf1-color);
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

/* 滚动条整体 */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

/* 两个滚动条交接处 -- x轴和y轴 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 滚动条两端按钮 */
::-webkit-scrollbar-button {
  display: none;
}
