:root {
  --background-image-01: url("https://eaassets-a.akamaihd.net/battlelog/battlebinary/sparta/assets/tunguska/backgrounds/MP_Naval_BGLoop-dd6e9a89.jpg");
  --background-image-02: url("https://eaassets-a.akamaihd.net/battlelog/battlebinary/sparta/assets/tunguska/backgrounds/MP_Harbor_BGLoop-70b9c5f4.jpg");
  --background-image-03: url("https://eaassets-a.akamaihd.net/battlelog/battlebinary/sparta/assets/tunguska/backgrounds/MP_Beachhead_BGLoop-4f04c02e.jpg");
  --background-image-04: url("https://eaassets-a.akamaihd.net/battlelog/battlebinary/sparta/assets/tunguska/backgrounds/MP_Ridge_BGLoop-22333a03.jpg");

  --background-image: var(--background-image-04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bf1font";
  cursor: url(@/assets/icon/Arrow.cur), default;
}

@font-face {
  font-family: "bf1font";
  src: url(https://eaassets-a.akamaihd.net/battlelog/battlebinary/sparta/jsclient/builds/assets/FuturaMaxiBook-TC-c3bf1e0d.ttf);
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

html {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.3s;
}

body {
  backdrop-filter: blur(20px);
}

button {
  padding: 10px;
  color: #fff;
  background-color: transparent;
  border: 1px solid gray;
  transition: all 0.1s ease;
}
button:hover {
  color: #000;
  background-color: #fff;
}

input[type="text"] {
  padding: 10px;
  width: 120px;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid gray;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

/* 滚动条整体 */
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

/* 两个滚动条交接处 -- x轴和y轴 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 滚动条两端按钮 */
::-webkit-scrollbar-button {
  display: none;
}
